.Input {
  background-color: transparent;
  border: none;
  text-align: center;
  font-size: 1.6rem;
  padding: 0.8rem;
  color: var(--text-default);
  border: .2rem solid transparent;
  border-bottom: .2rem solid var(--primary);
  transition: all .1s;
}

.Input:focus {
  border-radius: .8rem;
  border: .2rem solid var(--primary);
}

.Input ::placeholder {
  color: var(--gray-500);
}
.Input:disabled{
  border-bottom: 0.2rem solid var(--disabled) ;
  color: var(--text-muted);
}