.Cycles{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
}
.cycleDots{
  display: flex;
  gap: .8rem;
}
.cyleDot{
  width: 2rem;
  height: 2rem;
  background: var(--primary);
  border-radius: 50%;
}
.WorkTime{ 
  background: var(--warning);
}
.ShortBrakTime{
  background-color: var(--primary);
}
.LongBreakTime{
  background-color: var(--info);
}